@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL */

* {
  box-sizing: border-box;
}

body {
font-size: 16px;
background-color: #371357;
margin: 0;
padding: 0;
}

/* TYPOGRAPHY */

h1 {
  font-family: 'Maven Pro', sans-serif;
}

h2 {
  font-family: 'Lato', sans-serif;
}

h3 {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Maven Pro', sans-serif;
}

/* LAYOUT */